<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <object th:replace="fragments/fragment :: navbar"></object>
    <section class="container-fluid py-5" style="height: calc(100% - 56px)">
        <div class="row-cols-1 h-100 mx-auto justify-content-center align-items-center">
            <div th:replace="fragments/div :: headVar(title='Login', col='4')"></div>
            <div class="col-md-4 col-12 mx-auto p-4 shadow">
                <div th:if="${param.error}">
                    <span class="text-warning">Invalid username or password</span>
                </div>
                <!-- <div class="text-info" th:if="${username}">
                    <span th:text="'Username: ' + ${username} + ' berhasil disimpan.'"></span>
                </div> -->
                <form th:action="@{/login}" method="POST">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" />
                    </div>
                    <div class="form-group mb-2">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <a th:href="@{/user/add}" class="text-wrap font-italic">Register</a>
                    <br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>