<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Tambah Pengiriman</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div th:if="${pop} != null" class="overlay" id="center">
    <div class="row justify-content-center">
        <div th:if="${pop} == 'green'" class="col-md-5 pop-up">
            <img th:src="@{/img/green-check.svg}">
            <p th:text="${msg}"></p>
            <a th:href="@{/perludikirim}" class="btn">
                OK
            </a>
        </div>
    </div>
</div>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col col-sm-auto col-md-auto">
        <!-- <div class="position-fixed"> -->
        <nav th:replace="fragments/fragment :: sidebar"></nav>
        <!-- </div> -->
    </div>
    <div class="container col">
        <div class="row justify-content-center">
            <div th:if="${message} != null">
                <div class="card">
                    <div class="card-header" id>
                        Error
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <div th:text="${message}"></div>
                            </div>
                        </div>
                        <br>
                        <a th:href="@{/perludikirim}" class="btn btn-success">
                            Kembali
                        </a>
                    </div>
                </div>
            </div>
            <div th:unless="${message} != null">
            <div class="card" style="min-width: 600px; width: 1000px; margin: 70px 10px 70px 10px">
                <div class="card-header">
                    <h4>Tambah Pengiriman</h4>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Kode Pesanan/Komplain</label>
                                    <input type="text"  name="kode" th:field="*{pengiriman.kode}" th:value="*{pengiriman.kode}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Nama Toko</label>
                                    <input type="text"  name="namaToko" th:field="*{pengiriman.namaToko}" th:value="*{pengiriman.namaToko}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Alamat Toko</label>
                                <textarea th:field="${pengiriman.alamatToko}" class="form-control"
                                          style="width: 100%; height: 350px" readonly></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Daftar Barang</label>
                            <table class="table table-hover table-bordered daftar-table" border="1" cellpadding="10">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Barang</th>
                                    <th>Jumlah</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="barang, iterationStatus : ${barangList}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${barang.namaBarang}"></td>
                                    <td th:text="${barang.jumlah}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <br><br>
                        </div>
                    </div>
                    <form th:action="@{'/perludikirim/tambah/' + ${pengiriman.type} + '/'}" method="POST">
                        <div class="row">
                            <div class="form-group col-6">
                                <label>Metode Pengiriman</label>
                                <select name="metodePengiriman"  class="form-control" required>
                                    <option disabled selected value> -- PILIH Metode Pengiriman -- </option>
                                    <th:block th:each="metode : ${metodePengiriman}">
                                        <option th:value="${metode.idMetode}" th:text="${metode.namaMetodePengiriman}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div>
                                <input th:if="${pengiriman.type} == 'komplain'" th:type="text" class="form-control" th:name="kodeKomplain" th:value="${pengiriman.kode}" hidden aria-hidden="true">
                            </div>
                            <div>
                                <input th:if="${pengiriman.type} == 'pesanan'" th:type="text" class="form-control" th:name="kodePesanan" th:value="${pengiriman.kode}" hidden aria-hidden="true">
                            </div>
                            <div class="row justify-content-end">
                                <a class="btn but-outline" type="button" th:href="@{/perludikirim}">Batal</a>
                                <button class="btn but-success" type="submit" value="Submit">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
