<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detail Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="row d-flex">
        <div class="col-md-auto">
            <nav th:replace="fragments/fragment :: sidebar"></nav>
        </div>

        <div class="container col">
            <table class="table">
                <thead>
                <div class="bg-dark text-center"><a style="font-size: 30px; color: white"><b>Detail Produk</b></a></div>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td scope="col">ID Produk</td>
                    <td th:text="${id}" scope="col"></td>
                </tr>

                <tr class="text-center">
                    <td scope="col">Nama Produk</td>
                    <td th:text="${detailProduk.namaProduk}" scope="col"></td>
                </tr>

                <tr class="text-center">
                    <td scope="col">Stok</td>
                    <td th:text="${detailProduk.stok}" scope="col"></td>
                </tr>

                <tr class="text-center">
                    <td scope="col">Harga</td>
                    <td th:text="${detailProduk.harga}" scope="col"></td>
                </tr>

                <tr class="text-center">
                    <td scope="col">Tipe</td>
                    <td th:text="${detailProduk.tipe}" scope="col"></td>
                </tr>

                <tr class="text-center">
                    <td scope="col">Tanggal</td>
                    <td th:text="${detailProduk.tanggal_dibuat}" scope="col"></td>
                </tr>

                <tr class="text-center">
                    <td scope="col">Spesifikasi</td>
                    <td th:text="${detailProduk.spesifikasi}" scope="col"></td>
                </tr>


                </tbody></table>
        </div>
</body>
</html>