<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tambah Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <nav th:replace="fragments/fragment :: sidebar"></nav>
    </div>

    <div style="margin: auto; border: outset; border-radius: 10px; width: 1200px; " class="shadow-lg p-3 mb-5 bg-white rounded">
        <div style=" width: 600px" >
            <div class="pull-left" style="height: 60px; width: 600px; border-radius: 10px; font-size: 40px; margin:auto">
                <a style="color: #033C59; margin:auto">Ubah Produk</a>
            </div>
            <form th:action="@{/produk/tambah}"th:object="${produk}" method="POST">
                <table class="table table-borderless" style="width: 600px; margin: auto">
                    <thead>
                    <th>
                        <tr>
                            <input type="hidden" th:field="*{idProduk}"/>
                            <th class="form-group" style="color: #005479">
                                Nama Produk
                                <input type="text" name="namaProduk" style="border-radius: 10px ;width: 500px" class="form-control">
                            </th>
                            <th class="form-group" style="color: #005479">
                                Spesifikasi
                                <input type="text" name="spesifikasi" style="border-radius: 10px ;width: 500px" class="form-control">
                            </th>
                        </tr>

                        <tr>
                            <th class="form-group" style="color: #005479">
                                Stok Produk
                                <input type="text"  name="stok" style="border-radius: 10px ;width: 500px" class="form-control">
                            </th>
                        </tr>

                        <tr>
                            <th class="form-group" style="color: #005479">
                                Tipe
                                <input type="text" name="tipe" style="border-radius: 10px ;width: 500px" class="form-control">
                            </th>
                        </tr>

                        <tr>
                            <th class="form-group" style="color: #005479">
                                Harga
                                <input type="text" name="harga" style="border-radius: 10px ;width: 500px" class="form-control">
                            </th>
                        </tr>

                        <tr>
                            <th class="form-group" style="color: #005479">
                                Tanggal Dibuat
                                <input type="date" class="form-control" name="tanggal_dibuat" style="width: 500px">
                            </th>
                        </tr>

<!--                        <tr>-->
<!--                            <th class="form-group" style="color: #005479">-->
<!--                                Tag Produk-->
<!--                                <select class="form-control form-control-lg" style="width: 500px" name="produkModel">-->
<!--                                    <option value="1"  th:each="produk:${produk}" th:text="${produk.listTagProduk}" th:value="${produk.listTagProduk}"></option>-->
<!--                                </select>-->
<!--                            </th>-->
<!--                        </tr>-->
                        <tr>
                            <th>

                            </th>
                            <th>
                                <button type="submit" class="btn btn-primary" style="float:right;margin-right: 20px;color: white">Simpan</button>
                                <a href="/daftar-produk" class="btn btn-primary" style="float:right;margin-right: 20px; background-color:#FFFFFF; color: #033C59">Batal</a>

                            </th>
                        </tr>
                    </th>
                    </thead>
                </table>
            </form>

        </div>
    </div>
</div>
</div>

</body>
</html>