<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="row d-flex">        
        <div class="col-md-auto">
            <nav th:replace="fragments/fragment :: sidebar"></nav>
        </div>
            <div class="row justify-content-center" id="center">
                <div class="card">
                    <div class="card-header" id="text-center">
                        <h4>Tambah Pesanan Penjualan</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/pesanan/add-barang}" th:object="${pesananPenjualan}" method="POST">
                            <br><br>
                            <div class="form-row">
                                <div class="col-md-1 mb-3">
                                    <label>No</label>
                                  </div>
                                <div class="col-md-6 mb-3">
                                  <label>Nama Barang</label>
                                  <input type="text"class="form-control"/>
                                </div>
                                <div class="col-md-2 mb-3">
                                  <label>Jumlah</label>
                                </div>
                                <div class="col-md-3 mb-3">
                                  <label>Harga</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div th:each="barang, barangStat : *{barangPesanan}">
                                    <div class="col-md-1 mb-3"></div>
                                        <span th:text="${barangStat.count}"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <select th:field="*{barang.produkPesanan}" class="form-control">
                                            <option th:each="produk : ${listProduk}" 
                                                    th:value="${produk.idProduk}" 
                                                    th:text="${produk.namaProduk}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <input type="text" th:field="*{barang.jumlah}" class="form-control"/>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" th:field="*{barang.harga}" class="form-control"/>
                                    </div>
                                </div>                              
                                
                            </div>
                            <div class="form-group">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Barang</th>
                                        <th>Jumlah</th>
                                        <th>Harga</th>
                                        <th>
                                        <button type="submit" name="addRow">Add row</button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="barang, barangStat : *{barangPesanan}">
                                        <td th:text="${barangStat.count}">1</td>
                                        <td>
                                        <select th:field="*{barang}" class="form-control">
                                            <option th:each="produk : ${listProduk}" 
                                                    th:value="${produk.idProduk}" 
                                                    th:text="${produk.namaProduk}"></option>
                                        </select>
                                        </td>
                                        <td>
                                        <input type="text" th:field="*{barang.jumlah}" class="form-control"/>
                                        </td>
                                        <td>
                                            <input type="text" th:field="*{barang.harga}" class="form-control"/>
                                        </td>
                                        <td>
                                        <button type="submit" name="removeRow" 
                                                th:value="${barangStat.index}">Remove row</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label for="no_akademi">Sekolah:</label>
                                <select th:field="*{barangPesanan}" class="form-control" name="barangPesanan" required>
                                    <option th:each="produk, iterationStatus: ${listProduk}"
                                    th:text="${produk.namaProduk}" th:value="${produk.idProduk}"></option>
                                </select>
                            </div>
                            <div class="row justify-content-end">                                
                                <a class="btn but-outline" type="button" th:href="@{/}">Batal</a>
                                <button class="btn but-success" type="submit" value="Submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>