<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Tambah Pesanan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div th:if="${pop} != null" class="overlay" id="center">
    <div class="row justify-content-center">
        <div th:if="${pop} == 'green'" class="col-md-5 pop-up">
            <img th:src="@{/img/green-check.svg}">
            <p th:text="${msg}"></p>
            <a th:href="@{/pesanan}" class="btn">
                OK
            </a>
        </div>
        <div th:if="${pop} == 'red'" class="col-md-5 pop-up">
            <img th:src="@{/img/red-check.svg}">
            <p th:text="${msg}"></p>
            <div class="sub-msg">
                <span th:text="${subMsg}"></span>
            </div>
            <a th:href="@{/pesanan/tambah}" class="btn">
                OK
            </a>
        </div>
    </div>
</div>
</div>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <!-- <div class="position-fixed"> -->
        <nav th:replace="fragments/fragment :: sidebar"></nav>
        <!-- </div> -->
    </div>
    <div class="container col">
        <div class="row justify-content-center">
            <div class="card" id="pesananPenjualan">
                <div class="card-header">
                    <h4>Tambah Pesanan Penjualan</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/pesanan/tambah}" th:object="${pesananPenjualan}" method="POST">
                        <div class="form-group">
                            <label>Nama Toko</label>
                            <input th:field="*{namaToko}" type="text" class="form-control"
                                   name="namaToko"
                                   placeholder="Masukan nama toko" required>
                        </div>
                        <div class="form-group">
                            <label>Alamat Toko</label>
                            <input th:field="*{alamatToko}" type="text" class="form-control"
                                   name="alamatToko"
                                   placeholder="Masukan alamat toko" required>
                        </div>
                        <div class="form-group">
                            <label>Diskon</label>
                            <input th:field="*{diskon}" type="number" class="form-control"
                                   name="diskon"
                                   placeholder="Masukan besar diskon">
                        </div>

                        <br><br>
                        <div class="row justify-content-between">
                            <div class="float-md-left">
                                <h3>Barang Pesanan</h3>
                            </div>
                            <div class="float-sm-right">
                                <button class="btn but-success" type="submit" name="addRow">Tambah Barang</button>
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            <table>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Barang</th>
                                    <th>Jumlah</th>
                                    <th>Harga</th>
                                    <th>
                                        <!-- <button class="btn but-success" type="submit" name="addRow">Tambah Barang</button> -->
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="barang, barangStat : *{barangPesanan}">
                                    <td th:text="${barangStat.count}"></td>
                                    <td>
                                        <select th:field="*{barangPesanan[__${barangStat.index}__].namaBarang}"
                                                class="form-control" required>
                                            <option selected value="">-- PILIH Nama Barang (Harga) -[Stok] --</option>
                                            <option th:each="produk : ${listProduk}"
                                                    th:value="${produk.namaProduk}"
                                                    th:with="harga=${produk.harga}"
                                                    th:text="${produk.namaProduk} +
                                                            '(Rp ' + ${#numbers.formatInteger(harga,3,'POINT')} + ')'
                                                            + ' -[' + ${produk.stok} + ']'"
                                            ></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number" th:field="*{barangPesanan[__${barangStat.index}__].jumlah}"
                                               placeholder="Masukan jumlah"
                                               class="form-control" required/>
                                    </td>
                                    <td>
                                        <button th:if="${barangStat.size} > 1" class="btn but-danger" type="submit" name="removeRow"
                                                th:value="${barangStat.index}">
                                            <i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-end">
                            <a class="btn but-outline" type="button" th:href="@{/pesanan}">Batal</a>
                            <button class="btn but-success" type="submit" value="Submit">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>