<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Pesanan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="row d-flex">        
        <div class="col-md-auto">
            <!-- <div class="position-fixed"> -->
                <nav th:replace="fragments/fragment :: sidebar"></nav>
            <!-- </div> -->
        </div>
        <div class="container-fluid col">
            <div class="row justify-content-center">            
                <div class="col" id="table-utama">
                    <div class="list-header">
                        <h2>Daftar Pesanan Penjualan</h2>
                        <hr>
                    </div>
                    <div class="list-body">
                        <div sec:authorize="hasAnyAuthority('Staf Sales', 'Admin')">
                            <a 
                                th:href="@{/pesanan/tambah}"
                                class="btn but-outline"
                                >+ Tambah Pesanan Penjualan</a
                            >
                            <br><br>
                        </div>
                        <div th:if="${msg != null}">
                            <h3 th:text="${message}"></h3>
                        </div>
                        <div th:unless="${msg != null}">
                            <table class="table daftar-table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Kode Pesanan</th>
                                        <th sec:authorize="hasAnyAuthority('Sales Counter', 'Manager Pemasaran', 'Factory Manager', 'Vice Factory Manager','Admin')">Nama Staf</th>
                                        <th>Nama Toko</th>
                                        <th>Tanggal</th>
                                        <th>Status</th>
                                        <th>Total Harga</th>
                                        <div>
                                            <th>Aksi</th>
                                        </div>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="pesanan, iterationStatus : ${listPesanan}">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${pesanan.kodePesananPenjualan}"></td>
                                        <td th:text="${pesanan.user.namaPanjang}" sec:authorize="hasAnyAuthority('Sales Counter', 'Manager Pemasaran', 'Factory Manager', 'Vice Factory Manager','Admin')"></td>
                                        <td th:text="${pesanan.namaToko}"></td>
                                        <td th:text="${#dates.format(pesanan.tanggalPesanan, 'dd/MM/yyyy')}"></td>
                                        <div>
                                            <td th:if="${pesanan.statusPesanan == 0}">Menunggu Persetujuan</td>
                                            <td th:if="${pesanan.statusPesanan == 1}">Disetujui</td>
                                            <td th:if="${pesanan.statusPesanan == 2}">Ditolak</td>
                                        </div>
                                        <td th:text="'Rp '+ ${#numbers.formatInteger(pesanan.totalHarga,3,'POINT')}" style="text-align: right;"></td>
                                        <td sec:authorize="hasAnyAuthority('Staf Sales', 'Sales Counter', 'Manager Pemasaran', 'Factory Manager', 'Vice Factory Manager','Admin')">
                                            <div class="inline-buts">
                                                    <a th:href="@{/pesanan/} + ${pesanan.kodePesananPenjualan}" 
                                                    class="btn but-detail"
                                                    >Detail</a>
                                                    <a th:href="@{/pesanan/hapus/} + ${pesanan.kodePesananPenjualan}" 
                                                    th:classappend="${pesanan.statusPesanan != 1 ? '':'disabled'}"
                                                    class="btn but-danger"
                                                    sec:authorize="hasAnyAuthority('Sales Counter', 'Admin')">Hapus</a>
                                            </div>                                                                                          
                                        </td>                                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>