<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Daftar Pesanan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

<div th:if="${filterTitle} != null" class="overlay" style="align-items: center">
    <div class="row justify-content-center" >
        <div class="col-5 pop-up">
            <br>
            <h3 th:text="${filterTitle}" style="margin-left: 30px; color: #033C59;"></h3>
            <br>
            <div class="form-group" style="margin-left: 30px; width: 85%; color: #033C59;">
                <input type="hidden" th:value="${keyword}" id="keywordInput">
                <label>Tipe Pesanan</label>
                <select class="form-control" name="status" th:field="*{status}" th:value="*{status}" onchange="selectOnChange(this)"required>
                    <option selected value="">-- Pilih Status Pesanan --</option>
                    <option value="0">Menunggu Persetujuan</option>
                    <option value="1">Disetujui</option>
                    <option value="2">Ditolak</option>
                </select>
            </div>
            <br>
            <div class="tagContainerOuter">
                <div class="row justify-content-center">
                    <a class="btn but-outline" type="button"
                       style=" background-color: white; color: #033C59; border: 1px solid #033C59;"
                       th:href="@{/pesanan}">Batal</a>
                    <a class="btn but-success" type="button" id="submitButtonFilter"
                       th:href="@{/pesanan/status/}+{status}">
                    >Filter</a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col col-sm-auto col-md-auto">
        <!-- <div class="position-fixed"> -->
        <nav th:replace="fragments/fragment :: sidebar"></nav>
        <!-- </div> -->
    </div>
    <div class="container-fluid col">
        <div class="row justify-content-center">
            <div th:if="${message} != null">
                <div class="card">
                    <div class="card-header" id>
                        Error
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <div th:text="${message}"></div>
                            </div>
                        </div>
                        <br>
                        <a th:href="@{/pesanan}" class="btn btn-success">
                            Kembali
                        </a>
                    </div>
                </div>
            </div>
            <div th:unless="${message} != null" class="container-fluid col">
                <div class="col" id="table-utama">
                    <div class="list-header">
                        <h2>Daftar Pesanan Penjualan</h2>
                        <hr>
                    </div>
                    <div class="list-body">
                        <div sec:authorize="hasAnyAuthority('Staf Sales', 'Sales Counter','Admin')">
                            <a
                                    th:href="@{/pesanan/tambah}"
                                    class="btn but-outline"
                            >+ Tambah Pesanan Penjualan</a
                            >
                            <br><br>
                        </div>
                        <a th:href="@{/filter-pesanan}" class="btn but-success" style="width: auto;">
                            <i class="fa fa-filter"></i>
                            Filter
                        </a>
                        <div th:if="${msg != null}">
                            <h3 th:text="${pesan}"></h3>
                        </div>
                        <div th:unless="${msg != null}">
                            <table class="table daftar-table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Kode Pesanan</th>
                                    <th sec:authorize="hasAnyAuthority('Sales Counter', 'Manager Pemasaran', 'Factory Manager', 'Vice Factory Manager','Admin')">Nama Staf</th>
                                    <th>Nama Toko</th>
                                    <th>
                                        <a th:href="@{'/pesanan-sorted/?sortField=tanggalDibuat&sortDir=' + ${reverseSortDir}}" style="color:white;">
                                            <div th:if="${sortField} != 'tanggalDibuat'">
                                                <i class="fa fa-sort"></i>
                                                Tanggal Dibuat
                                            </div>
                                            <div th:if="${sortField} == 'tanggalDibuat'">
                                                <i th:if="${reverseSortDir} == 'asc'" class="fa fa-caret-down"></i>
                                                <i th:if="${reverseSortDir} == 'desc'" class="fa fa-caret-up"></i>
                                                Tanggal Dibuat
                                            </div>
                                        </a>
                                    </th>
                                    <th id="table-nowrap">Status</th>
                                    <th id="table-nowrap">Total Harga</th>
                                    <div sec:authorize="hasAnyAuthority('Staf Sales', 'Sales Counter', 'Manager Pemasaran', 'Factory Manager', 'Vice Factory Manager','Admin')">
                                        <th id="table-nowrap">Aksi</th>
                                    </div>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pesanan, iterationStatus : ${listPesanan}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${pesanan.kodePesananPenjualan}"></td>
                                    <td th:text="${pesanan.user.namaPanjang}" sec:authorize="hasAnyAuthority('Sales Counter', 'Manager Pemasaran', 'Factory Manager', 'Vice Factory Manager','Admin')"></td>
                                    <td th:text="${pesanan.namaToko}"></td>
                                    <td th:text="${#dates.format(pesanan.tanggalPesanan, 'dd/MM/yyyy')}"></td>
                                    <div th:switch="${pesanan.statusPesanan}">
                                        <td class="list-status text-center" id="table-nowrap">
                                            <span th:case="0"
                                                  class="pending">Menunggu Persetujuan</span>
                                            <span th:case="1"
                                                  class="disetujui">Disetujui</span>
                                            <span th:case="2"
                                                  class="ditolak">Ditolak</span>
                                            <span th:case="3"
                                                  class="disetujui">Disetujui</span>
                                            <span th:case="4"
                                                  class="disetujui">Disetujui</span>
                                        </td>
                                    </div>
                                    <td th:text="'Rp '+ ${#numbers.formatInteger(pesanan.totalHarga,3,'POINT')}" style="text-align: right;" id="table-nowrap"></td>
                                    <td sec:authorize="hasAnyAuthority('Staf Sales', 'Sales Counter', 'Manager Pemasaran', 'Factory Manager', 'Vice Factory Manager','Admin')" id="table-nowrap">
                                        <div class="inline-buts">
                                            <a th:href="@{/pesanan/} + ${pesanan.kodePesananPenjualan}"
                                               class="btn but-detail"
                                            >Detail</a>
                                            <a th:href="@{/pesanan/konfirmasi-hapus/}+${pesanan.kodePesananPenjualan}"
                                               th:classappend="${(pesanan.statusPesanan == 1 || pesanan.statusPesanan == 4) ? 'disabled':''}"
                                               class="btn but-danger"
                                               sec:authorize="hasAnyAuthority('Sales Counter', 'Admin')">Hapus</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="/pesanan/page/1" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="/pesanan/page/2">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>