<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>

    <!-- CSS -->

    <head th:fragment="css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/navbar.css}">
    </head>

    <!-- Javascript -->

    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </head>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg col-12" th:fragment="navbar">
        <a class="navbar-brand font-weight-bold" th:href="@{/}">PEBELCO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                 
                <!-- items for user featrue -->
                    <!-- Weird html placement to cope with unique position regarding notification -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/#}">Profile</a>
                    <a class="dropdown-item" th:href="@{/logout}" >Logout</a>
                </div>

                <!-- Notifications --> 
                <div class="d-inline dropdown notif ml-auto">
                    <a class="dropdown-toggle" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                        <!-- <span>99</span> -->
                        <span th:text ="${jumlahNotif}"></span>
                    <img th:src="@{/img/notif.svg}">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notifications">
                        <div class="list-group">
                            <div th:if="${jumlahNotif == 0}" class="lg">
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <h5 class="mb-1">Tidak ada notifikasi</h5>
                                        <p class="mb-0"></p>
                                    </a>                                                                   
                            </div> <!-- /.lg -->
                            <div th:if="${jumlahNotif != 0}"class="lg">
                                <div th:each="notif, iterationStatus : ${listNotif}">
                                    <a th:href="${notif.url}" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <h5 class="mb-1" th:text="${notif.desc}"></h5> 
                                        <p class="mb-0" th:text="${#dates.format(notif.waktuDibuat, 'EEE, d MMM yyyy | HH:mm:ss')}">17 October 2016 | 9:32 pm</p>
                                    </a> 
                                </div>                                                                   
                            </div> <!-- /.lg -->
                        </div> <!-- /.list group -->
                    </div> <!-- /.dropdown-menu -->
                </div> <!-- /.dropdown -->
                
                <!-- user feature -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <li class="profile nav-item">
                        <span class="namaUser" sec:authentication="principal.namaPanjang"></span>
                        <span sec:authentication="principal.role"></span>
                    </li>
                    <a class="nav-link dropdown-toggle" th:href="@{/#}"  id="navbarDropdown" role="button" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                    </a>
                    <!-- The items dropdown should be here in normal circumtances -->
                </li>
            </div>
            <div class="navbar-nav ml-auto" sec:authorize="isAnonymous()">   
                <div class="text-secondary font-italic" sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="nav-item nav-link active">Login</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- sidebar -->
    <div class="sidebar flex-fixed-width-item" id="sidebar-wrapper" th:fragment="sidebar">
        <div class="list-group list-group-flush">
          <a th:href="@{/}" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="list-group-item list-group-item-action">Beranda</a>
          <a th:href="@{/#}" class="list-group-item list-group-item-action">Kunjungan</a>
          <a th:href="@{/pesanan}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/pesanan')? 'active':''}" class="list-group-item list-group-item-action">Pesanan Penjualan</a>
          <a th:href="@{/#}"  class="list-group-item list-group-item-action">Pengiriman</a>
          <a th:href="@{/#}"  class="list-group-item list-group-item-action">Komplain</a>
          <a th:href="@{/#}"  class="list-group-item list-group-item-action">Produk</a>
          <a th:href="@{/#}"  class="list-group-item list-group-item-action">Pameran</a>
          <a th:href="@{/#}" class="list-group-item list-group-item-action">Laporan</a>
        </div>
    </div>
</body>

</html>