@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0px 0px 10px 5px #0000003b;
}

.navbar button {
    background-color: #033C59;
}

.navbar-brand {
    font-size: 30px
}

.profile > span {
    display: block;
}

.profile .namaUser {
    font-weight: bold;
    font-size: 20px;
    color: #033C59;
}

/* Notifications */
.notif {
    padding-right: 40px;
    padding-top: 10px;
    position: relative;
}

.notif span {
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    right: 28px;
    background-color: #DA4F4F;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.notif img {
    border-radius: 50%;
    height: 30px;
}

.notif .dropdown-toggle::after {
    display:none;
}

.list-group .lg {
    min-height: 0px;
    max-height: 700px;
    width: 420px;
    overflow: auto;
}

.list-group .lg {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.list-group .lg::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.list-group .list-group-item {
    border-top: 0.5px solid #ffffff;
    border-bottom: 0.5px solid #ffffff;
    border-radius: 0;
    letter-spacing: 0.5px;
}
.list-group h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}
.list-group p {
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

.unclicked {
    background-color: #4bb6eb81;
    transition: all .2s;
}

.unclicked:hover {
    background-color: #4bb6eb46;
}

.clicked {
    background-color: #ffffff;
    transition: all .2s;
}

.clicked:hover {
    background-color: #a7a7a796;
}

/* Sidebar */
.flex-fixed-width-item {
    flex: 0 0 100px;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
    background: #033C59;
    height: 100%;
    min-height: 80rem;
    min-width: 10rem;
    width: 14rem;
}

#sidebar-wrapper .list-group {
    background: #033C59;
    min-width: 10rem;
}

#sidebar-wrapper .list-group .list-group-item{
    font-size: 13px;
    color: #fff;
    background: #033C59;
    padding: 20px 0px 20px 30px;
    transition: all .2s;
}

#sidebar-wrapper .list-group .list-group-item:hover{
    color: #FFD35C;
    transform: scale(1.1)
}

#sidebar-wrapper .list-group .list-group-item.active{
    color: #FFD35C;
}

.fa-lg {
    font-size: 20px;
    margin-right: 15px;
}
