@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,700;1,300;1,400&display=swap');

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.error_message {
    color : red;
}

.user-profile {
    color : #12b2e3;
}

#center {
    align-items: center;
    text-align: center;
}

#text-center {
    text-align: center;
}

#page-content-wrapper {
    min-width: 100vw;
}

.flex-fixed-width-item {
    flex: 0 0 100px;
}

.flex-item-20 {
    flex: 1 0 20%;
}

.flex-item-40 {
    flex: 1 0 40%;
}

.flex-item-80 {
    flex: 1 0 80%;
}

.d-flex {
    margin-right: 0;
}

/* Overlay */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* Pop Up */

.pop-up {
    position: absolute;
    top: 25%;
    align-items: center;
    margin: 50px;

    /* max-width: 1000px; */
    min-height: height auto;
    min-width: 300px;
    width: 600px;
    height: auto;

    background: #FFFFFF;
    border: 0.655044px solid #0C1E34;
    box-sizing: border-box;
    box-shadow: 0px 17px 10px -5px #0000003b;
    border-radius: 6.96855px;
    transition: all .2s;
}

.pop-up:hover {    
    box-shadow: 0px 17px 17px -5px #0000006b;
    transform: scale(1.1)
}

.pop-up p {
    margin: 10px 20px 10px 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.045em;

    color: #033C59;
}

.sub-msg {
    margin: 10px 20px 30px 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.045em;

    color: #000000;
}

.pop-up img {
    width: 150px;
    height: 150px;
    margin: 20px 20px 10px 20px;
}

.pop-up a {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 150px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13.8192px;
    line-height: 16px;
    letter-spacing: 0.134312px;
    color: #FFFFFF;    
    background:#0a6999;
    border-radius: 5px;
}

.pop-up .btn:hover {
    color:#ffffff;
    background:#033C59;
}

/* Konfirmasi Hapus */
#konfirmasi-hapus {
    position: absolute;
    top: 25%;
    align-items: center;
    margin: 50px;

    /* max-width: 1000px; */
    min-height: height auto;
    min-width: 300px;
    width: 600px;
    height: auto;

    background: #FFFFFF;
    border: 0.655044px solid #0C1E34;
    box-sizing: border-box;
    box-shadow: 0px 17px 10px -5px #0000003b;
    border-radius: 6.96855px;
    transition: all .2s;
}

#konfirmasi-hapus:hover {    
    box-shadow: 0px 17px 17px -5px #0000006b;
    transform: scale(1.1)
}

#konfirmasi-hapus p {
    margin: 40px 20px 20px 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.045em;

    color: #033C59;
}

#konfirmasi-hapus .sub-msg {
    margin: 20px 20px 50px 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #000000;
}

#konfirmasi-hapus a{
    margin: 30px 20px;
    width: 130px;
}

/* Home */
.jumbotron {
    margin-top: 15px;
    height: auto;
    margin-bottom: 55px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

    background: 
    linear-gradient(70.85deg,
    #FFFFFF 50%,    
    #033C59 100%,
    #fc5185 100%), 
    linear-gradient(270deg,
    rgba(0, 56, 56, 56) 0%,
    #806c7270 100%);
}

.jumbotron .title {
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.085em;

    color: black;
}

.jumbotron .subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.1em;

    color: #5E5D5D;
}

/* Home Features */
.fitur {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
    letter-spacing: 0.045em;

    color: black;
}

.list-fitur p {
    margin: 20px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.045em;

    color: #000000;
}

.list-fitur img {
    padding: 30px;
    width: 150px;
    height: 150px;
    margin: 20px 20px;
}

.list-fitur a {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;

    text-align: center;
    letter-spacing: 0.045em;

    color: #FFFFFF;
    
    background:#033C59;
    border-radius: 5px;
}

.list-fitur a:hover {
    color: #FFD35C;
}

.fix {
    align-items: center;
    margin: 50px;

    max-width: 260px;
    min-height: height auto;
    min-width: 260px;
    height: auto;

    background: #FFFFFF;
    border: 0.655044px solid #0C1E34;
    box-sizing: border-box;
    box-shadow: 0px 17px 10px -5px #0000003b;
    border-radius: 6.96855px;
    transition: all .2s;
}

.fix:hover {    
    box-shadow: 0px 17px 17px -5px #0000006b;
    transform: scale(1.1)
}


/* fa left-arrow */
.but-arrow i {
    font-size: 30px;
}

.but-arrow {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 10px;
    color: #5E5D5D;
    box-sizing: border-box;
    border-radius: 5px;
}

.but-arrow:hover {
    color: #FFFFFF;
    border: 1px solid #005479;;
    background: #005479;
}

/* Card Container */

.card {
    margin: 70px 10px 70px 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 19px;
    box-shadow: 0px 17px 10px -5px #0000003b;
    width: auto;
}

.card-header {
    margin: 40px 40px 0 40px;
    background: #FFFFFF;
}

/* Table Status Candle */
.card-header .row span{
    margin-top: 15px;
    padding: 0 10px 0 10px;
    min-height: 10px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    border: 0.3px solid #CACCCF;
    box-sizing: border-box;
    border-radius: 30px;
}

.list-status span{
    padding: 0 10px 0 10px;
    min-height: 10px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    border: 0.3px solid #CACCCF;
    box-sizing: border-box;
    border-radius: 30px;
}

.pending{
    color: #FFFFFF;
    background: #d5d6d8;
}

.disetujui{
    color: #FFFFFF;
    background: #9ce2b3;
}

.ditolak{
    color: #D14747;
    background: #f0c8c8;
}

.belumDikirim{
    color: #958B32;
    background: #FDFCA1;
}

.dikirim{
    color: #CFA315;
    background: #FBEFCA;
}

.diterima{
    color: #155724;
    background: #E6FAFD;
}

.card-header h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 54px;
    letter-spacing: 1px;
    color: #033C59;
}

.card-body h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 54px;
    letter-spacing: 1px;
    color: #033C59;
}

.card-header h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 54px;
    letter-spacing: 1px;
    color: #033C59;
}

.card-body {
    margin: 0 40px 40px 40px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #005479;
}

.card-body .kode{
    min-width: 100px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 54px;
    letter-spacing: 1px;
    color: #6497B1;
}

/* Button Styles */
.btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
}

.but-add-success {
    margin-top: 100px;
    color: #FFFFFF;
    background: #005AB3;
    border-radius: 5px;
}

.but-add-success:hover {
    color: #FFFFFF;
    background: #80C0FF;
}

.but-success {
    margin: 5px 10px;
    color: #FFFFFF;
    background: #0373a3e0;
    border-radius: 5px;
}

.but-success:hover {
    color: #FFFFFF;
    background: #005479;
}

.but-tambah {
    margin: 5px 10px;
    color: #FFFFFF;
    background: #298134;
    border-radius: 5px;
}

.but-tambah:hover {
    color: #FFFFFF;
    background: #88CB90;
}

/* Detail but */
.but-detail {
    background: #4c7285;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

.but-detail:hover {
    color: #FFFFFF;
    background: #6497B1;
}

/* Ubah Status but */
.but-ubah-stat {
    margin: 5px 10px;
    color: #FFFFFF;
    background: rgba(242, 200, 76);
    box-sizing: border-box;
    border-radius: 5px;
}

.but-ubah-stat:hover {
    color: #FFFFFF;
    background: rgb(228, 185, 58);
    /* box-shadow: 0 5px 15px rgba(242, 200, 76, 1); */
}

/* Ubah but */
.but-ubah {
    margin: 5px 10px;
    color: #FFFFFF;
    background: rgb(245, 163, 2);
    border: 1px solid #F5A302;
    box-sizing: border-box;
    border-radius: 5px;
}

.but-ubah:hover {
    color: #FFFFFF;
    border: 1px solid rgb(245, 163, 2);;
    background: rgb(207, 139, 1);
    /* box-shadow: 0 5px 15px rgb(242, 162, 2); */
}

.but-outline {
    margin: 5px 10px;
    color: #5E5D5D;
    border: 1px solid #005479;
    box-sizing: border-box;
    border-radius: 5px;
}

.but-outline:hover {
    color: #FFFFFF;
    border: 1px solid #005479;;
    background: #005479;
}

.but-danger {    
    margin: 5px 10px;
    color: #FFFFFF;
    background: #eb3f3f;
    border-radius: 5px;
}

.but-danger:hover {
    color: #FFFFFF;
    background: #fb6152;
    
}

.btn-set{
    margin-top: 100px;
}

.btn-set{
    margin-top: 100px;
}

/* Table Styles */
.inline-buts {
    width: 100%;
    /* min-width: 550px; */
    text-align: center;
}

.inline-buts a{
    display: inline-block;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

#table-nowrap {
    white-space: nowrap;
}

.table td, .table th{
    vertical-align: middle;
}

td, th {
    vertical-align: middle;
    font-size: 15px;
}

.daftar-table th {
    background-color: #033C59;
    color: white;
    text-align: center;
  }

/* Daftar List Utama */
#table-utama {
    margin: 57px 20px 50px 0px;
}

.list-header {
    background: white;    
    margin-left: 20px;
}

.list-header h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;

    letter-spacing: 2px;
    color: #033C59;
}

.list-header hr{
    border: 1px solid #0C1E34;
}

.list-body {
    margin-top: 50px;
    background: white;    
    margin-left: 20px;
}

.list-body h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    text-align: center;

    letter-spacing: 2px;
    color: #000000;
}

.list-body table{
    margin-top:10px;
}

.tagContainerOuter{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}
.tagContainerInner{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.containerTag{
    margin: 10px;
}
.labelTag{
    cursor: pointer;
}
.checkboxTag{
    display:none;
}
.spanTag{
    position: relative;
    display: inline-block;
    background: white;
    color: #033C59;
    border-width: thin;
    border-style: solid;
    border-color: #033C59;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 15px;
    transition: 0.2s;
    user-select: none;
    overflow: hidden;
}
.spanTag:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.checkboxTag:checked ~ span{
    background: #033C59;
    color: white;
}