<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Daftar Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:if="${pop} != null" class="overlay" id="center">
    <div class="row justify-content-center">
        <div th:if="${pop} == 'green'" class="col-5 pop-up">
            <img th:src="@{/img/green-check.svg}">
            <p th:text="${msg}"></p>
            <a th:href="@{/produk}" class="btn">
                OK
            </a>
        </div>
        <div th:if="${pop} == 'konfirmasi hapus'" class="col-md-5" id="konfirmasi-hapus">
            <p th:text="${msg2}"></p>
            <span class="sub-msg" th:text="${subMsg}"></span>
            <div class="row justify-content-center">
                <a th:href="@{/produk}" class="btn but-outline">
                    Tidak
                </a>
                <a th:href="@{/produk/hapus/}+${id}" class="btn but-success" style="margin-left: 10px;">
                    Ya
                </a>
            </div>
        </div>
    </div>
</div>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <nav th:replace="fragments/fragment :: sidebar"></nav>
    </div>

    <div class="container-fluid col">
        <div class="row justify-content-center">
            <div class="col" id="table-utama">
                <div class="list-header">
                    <h2>Daftar Produk</h2>
                    <hr>
                </div>
                <div class="list-body">
                    <div sec:authorize="hasAuthority('Factory Manager')">
                        <a
                                th:href="@{/produk/tambah}"
                                class="btn but-outline"
                        >+ Tambah Produk </a>
                        <br><br>
                    </div>
                    <table class="table daftar-table table-hover table-bordered">
                        <tr class="bg-dark text-center">
                            <th>No</th>
                            <th>Nama Produk</th>
                            <th>Stok</th>
                            <th>Harga</th>
                            <th>Tanggal Dibuat</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="produk, iterationStatus: ${produk}">
                            <div th:with="result=${iterationStatus.count + (currPage-1) * pageSize}">
                                <td th:text="${result}"></td>
                            </div>
<!--                            <td th:text="${iterationStatus.count}"></td>-->
                            <td th:text="${produk.namaProduk}"></td>
                            <td th:text="${produk.stok}"></td>
                            <td th:text="'Rp '+ ${#numbers.formatInteger(produk.harga,3,'POINT')}" style="text-align: right; "></td>
                            <td th:text="${#dates.format(produk.tanggal_dibuat, 'dd/MM/yyyy')}"></td>
                            <td>
                                <div class="inline-buts">
                                    <a th:href="@{/produk/}+${produk.idProduk}" class="text-center btn but-detail" >Detail</a>
                                    <a th:href="@{/produk/konfirmasi-hapus/}+${produk.idProduk}" class="text-center btn but-danger" sec:authorize="hasAuthority('Factory Manager')">Hapus</a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>

                    <div th:if="${totPage > 1}">
                        <div class="row justify-content-center">
                            <div class="col-sm-1">
                                <a th:if="${currPage > 1}" th:href="@{'/produk/page/' + ${currPage - 1}}">Previous</a>
                                <span th:if="${currPage == 1}">Previous</span>
                            </div>
                            <div class="col-sm-1">
                                <span th:each="i: ${#numbers.sequence(1, totPage)}">
                                    <a th:if="${currPage != i}" th:href="@{'/produk/page/' + ${i}}">[[${i}]]</a>
                                    <span th:if="${currPage == i}">[[${i}]]</span>
                                </span>
                            </div>
                            <div class="col-sm-1">
                                <a th:if="${currPage < totPage}" th:href="@{'/produk/page/' + ${currPage + 1}}">Next</a>
                                <span th:if="${currPage >= totPage}">Next</span>
                            </div>
<!--                            <div class="col-sm-1">-->
<!--                                <a th:if="${currPage < totPage}" th:href="@{'/produk/page/' + ${totPage}}">Last</a>-->
<!--                                <span th:if="${currPage >= totPage}">Last</span>-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>