<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detail Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <nav th:replace="fragments/fragment :: sidebar"></nav>
    </div>

    <div class="container col">
        <a
                th:href="@{/produk}"
                class="btn but-arrow"
        ><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <div class="row justify-content-center">
            <div th:unless="${message} != null">
                <div class="card" id="produk" style="min-width: 900px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm">
                                <h4>Detail Produk</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <div>ID Produk</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div class="col-8">
                                    <div th:text="${id}"></div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-3">
                                    <div>Nama Produk</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div class="col-8">
                                    <div th:text="${detailProduk.namaProduk}"></div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-3">
                                    <div>Stok</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div class="col-8">
                                    <div th:text="${detailProduk.stok}"></div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-3">
                                    <div>Harga</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div class="col-8">
                                    <div th:text="'Rp '+ ${#numbers.formatInteger(detailProduk.harga,3,'POINT')}"></div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-3">
                                    <div>Tipe</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div th:if="${detailProduk.tipe==1}" class="col-8">Coffee Table</div>
                                <div th:if="${detailProduk.tipe==2}" class="col-8">Display Rack</div>
                                <div th:if="${detailProduk.tipe==3}" class="col-8">Kursi Cafe</div>
                                <div th:if="${detailProduk.tipe==4}" class="col-8">Kursi Lipat</div>
                                <div th:if="${detailProduk.tipe==5}" class="col-8">Kursi Makan</div>
                                <div th:if="${detailProduk.tipe==6}" class="col-8">Kursi Stool</div>
                                <div th:if="${detailProduk.tipe==7}" class="col-8">Laci Meja Tulis</div>
                                <div th:if="${detailProduk.tipe==8}" class="col-8">Lemari Pakaian Besi</div>
                                <div th:if="${detailProduk.tipe==9}" class="col-8">Meja Cafe</div>
                                <div th:if="${detailProduk.tipe==10}" class="col-8">Meja Makan</div>
                                <div th:if="${detailProduk.tipe==11}" class="col-8">Meja Lipat</div>
                                <div th:if="${detailProduk.tipe==12}" class="col-8">Meja Tulis</div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-3">
                                    <div>Tanggal Dibuat</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div th:text="${#dates.format(detailProduk.tanggal_dibuat, 'dd/MM/yyyy')}" class="col-8"></div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-3">
                                    <div>Spesifikasi</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div th:text="${detailProduk.spesifikasi}" class="col-8"></div>
                            </div>
                            <br><br>

                            <div th:if="${listTag.size()} > 0 " class="row">
                                <div class="col-3">
                                    <div>Tag Produk</div>
                                </div>
                                <div class="col-1">
                                    <div th:text="':'"></div>
                                </div>
                                <div th:each="lis : *{listTag}">
                                    <div class="row col-sm-1" style="padding-right: 15px;">
                                        <div class="col" style="width: auto; margin-right: 5px; padding-left: 12px; display: inline-flex">
                                        <span th:text="' #' + ${lis.namaTag}" style="color: #FFFFFF; background-color: #385A6C; padding: 0 10px 0 10px; display: inline-table;
                                min-height: 10px;
                                display: inline-flex;
                                align-items: center;
                                font-weight: 500;

                                border: 0.3px solid #CACCCF;
                                box-sizing: border-box;
                                border-radius: 30px;">
                                    </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>
                        </div>
                        <div class="row justify-content-end">
                            <a th:href="@{/produk/ubah/stok/} + ${id}"
                               class="btn but-ubah-stat"
                               sec:authorize="hasAuthority('Sales Counter')">Ubah</a>
                            <a th:href="@{/produk/ubah/} + ${id}"
                               class="btn but-ubah"
                               sec:authorize="hasAuthority('Vice Factory Manager')">Ubah</a>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>