<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tambah Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:if="${pop} != null" class="overlay" id="center">
    <div class="row justify-content-center">
        <div th:if="${pop} == 'green'" class="col-5 pop-up">
            <img th:src="@{/img/green-check.svg}">
            <p th:text="${msg}"></p>
            <a th:href="@{/produk}" class="btn">
                OK
            </a>
        </div>
        <div th:if="${pop} == 'red'" class="col-5 pop-up">
            <img th:src="@{/img/red-check.svg}">
            <p th:text="${msg}"></p>
            <div class="sub-msg">
                <span th:text="${subMsg}"></span>
            </div>
            <a th:href="@{/produk/tambah}" class="btn">
                OK
            </a>
        </div>
    </div>
</div>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <nav th:replace="fragments/fragment :: sidebar"></nav>
    </div>

    <div class="container col">
        <div class="row justify-content-center">
            <div class="card" id="tambah-produk">
                <div class="card-header">
                    <h4>Tambah Produk</h4>
                </div>

                <div class="card-body">
                    <form th:action="@{/produk/tambah}"th:object="${produk}" method="POST">
                        <table class="card-body table table-borderless" style="margin: 0px;">
                            <thead>
                            <th>
                                <tr>
                                    <th class="form-group" >
                                        Nama Produk
                                        <input th:field="*{namaProduk}" type="text" name="namaProduk"  class="form-control" placeholder="Masukan nama produk" required>
                                    </th>
                                    <th class="form-group" rowspan="5" colspan="2">
                                        <label>Spesifikasi</label>
                                        <textarea th:field="*{spesifikasi}" class="form-control"
                                                  style="width: 100%; height: 392px"
                                                  name="spesifikasi"
                                                  placeholder="Masukan catatan spesifikasi"></textarea>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group" >
                                        Stok Produk
                                        <input th:field="*{stok}"  type="text"  name="stok"  class="form-control" placeholder="Masukan jumlah stok" required>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group" >
                                        Tipe
                                        <select class="form-control form-control-lg" name="status" th:field="*{tipe}" th:value="*{tipe}" required>
                                            <option selected value="">-- PILIH Tipe--</option>
                                            <option value="1">Coffee Table</option>
                                            <option value="2">Display Rack</option>
                                            <option value="3">Kursi Cafe</option>
                                            <option value="4">Kursi Lipat</option>
                                            <option value="5">Kursi Makan</option>
                                            <option value="6">Kursi Stool</option>
                                            <option value="7">Laci Meja Tulis</option>
                                            <option value="8">Lemari Pakaian Besi</option>
                                            <option value="9">Meja Cafe</option>
                                            <option value="10">Meja Makan</option>
                                            <option value="11">Meja Lipat</option>
                                            <option value="12">Meja Tulis</option>
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group" >
                                        Harga
                                        <input th:field="*{harga}"  type="text" name="harga"  class="form-control" placeholder="Masukan jumlah harga" required>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Tanggal Dibuat
                                        <input th:field="*{tanggal_dibuat}"  type="date" class="form-control" name="tanggal_dibuat" required>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="1">
                                        <div class="float-md-left">
                                            <h3 class="float-md-left">Tag Produk</h3>
                                        </div>
                                    </th>
                                    <th colspan="3">
                                        <div class="float-sm-right">
                                            <button class="btn but-success" type="submit" name="addRow">Tambah </button>
                                        </div>
                                    </th>
                                </tr>


                                <tr class="form-group">
                                    <th>No</th>
                                    <th>Tag Produk</th>
                                </tr>

                                <tr th:each="tag, tagStat : *{listTagProduk}">
                                    <td th:text="${tagStat.count}"></td>
                                    <td>
                                        <select th:field="*{listTagProduk[__${tagStat.index}__].namaTag}"
                                                class="form-control" required>
                                            <option selected value="">-- PILIH Nama Tag --</option>
                                            <option th:each="isi : ${listTag}"
                                                    th:value="${isi.idTagProduk}"
                                                    th:text="${isi.namaTag}">
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <button th:if="${tagStat.index} != 0" class="btn but-danger" type="submit" name="removeRow"
                                                th:value="${tagStat.index}">
                                            <i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>


                            </th>
                            </thead>
                        </table>
                        <div class="row justify-content-end">
                            <a class="btn but-outline" type="button" th:href="@{/produk}">Batal</a>
                            <button type="submit" class="btn but-success">Simpan</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>