<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ubah Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script>
        $(function(){
            var requiredCheckboxes = $(':checkbox[required]');
            requiredCheckboxes.change(function(){
                if(requiredCheckboxes.is(':checked')) {
                    requiredCheckboxes.removeAttr('required');
                }
                else {
                    requiredCheckboxes.attr('required', 'required');
                }
            });
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:if="${pop} != null" class="overlay" id="center">
    <div class="row justify-content-center">
        <div th:if="${pop} == 'green'" class="col-5 pop-up">
            <img th:src="@{/img/green-check.svg}">
            <p th:text="${msg}"></p>
            <a th:href="@{/produk/}+${produk.idProduk}" class="btn">
                OK
            </a>
        </div>
        <div th:if="${pop} == 'red'" class="col-5 pop-up">
            <img th:src="@{/img/red-check.svg}">
            <p th:text="${msg}"></p>
            <div class="sub-msg">
                <span th:text="${subMsg}"></span>
            </div>
            <a th:href="@{/produk/ubah/}+${produk.idProduk}" class="btn">
                OK
            </a>
        </div>
    </div>
</div>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <nav th:replace="fragments/fragment :: sidebar"></nav>
    </div>

    <div class="container col">
        <div class="row justify-content-center">
            <div class="card" id="ubah-produk">
                <div class="card-header" style="min-width: 600px; width: 1000px">
                    <h4>Ubah Produk</h4>
                </div>

                <div class="card-body">
                    <form th:action="@{/produk/ubah/}+${produk.idProduk}"th:object="${produk}" method="POST">
                        <table class="card-body table table-borderless" style="margin: 0px">
                            <thead>
                            <th>
                                <tr>
                                    <input type="hidden" name="id" th:field="*{idProduk}" th:value="*{idProduk}" />
                                    <th class="form-group">
                                        Nama Produk
                                        <input type="text" name="namaProduk" th:field="*{namaProduk}" th:value="*{namaProduk}" class="form-control" required>
                                    </th>
                                    <th class="form-group" rowspan="5" colspan="2">
                                        <label>Spesifikasi</label>
                                        <textarea th:field="*{spesifikasi}"
                                                  th:value="*{spesifikasi}"
                                                  class="form-control"
                                                  style="width: 100%; height: 392px"
                                                  required
                                                  name="spesifikasi"></textarea>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Stok Produk
                                        <input type="hidden" name="stok" th:field="*{stok}" th:value="*{stok}" />
                                        <input type="text"  name="stok" th:field="*{stok}" th:value="*{stok}" class="form-control" disabled>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Tipe
                                        <select class="form-control" name="status" th:field="*{tipe}" th:value="*{tipe}" required>
                                            <option value="1">Coffee Table</option>
                                            <option value="2">Display Rack</option>
                                            <option value="3">Kursi Cafe</option>
                                            <option value="4">Kursi Lipat</option>
                                            <option value="5">Kursi Makan</option>
                                            <option value="6">Kursi Stool</option>
                                            <option value="7">Laci Meja Tulis</option>
                                            <option value="8">Lemari Pakaian Besi</option>
                                            <option value="9">Meja Cafe</option>
                                            <option value="10">Meja Makan</option>
                                            <option value="11">Meja Lipat</option>
                                            <option value="12">Meja Tulis</option>
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Harga
                                        <input type="number" name="harga" th:field="*{harga}" th:value="*{harga}" min="0" class="form-control" required>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Tanggal Dibuat
                                        <input type="date" class="form-control" name="tanggal_dibuat" th:field="*{tanggal_dibuat}" th:value="*{tanggal_dibuat}" required>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Tag Produk
                                    </th>
                                </tr>
                                <div class="checkbox-group required">
                                    <tr>
                                        <th colspan="1">
                                            <input class="form-check-input" style="margin-left: 5px" type="checkbox" name="checkboxName" id="inlineCheckbox1" value="1" required>
                                            <label class="form-check-label" style="margin-left: 20px">#Meja</label>
                                            <input class="form-check-input" style="margin-left: 20px" type="checkbox" name="checkboxName" id="inlineCheckbox3" value="3" required>
                                            <label class="form-check-label" style="margin-left: 35px">#Lemari</label>
                                            <input class="form-check-input" style="margin-left: 20px" type="checkbox" name="checkboxName" id="inlineCheckbox5" value="5" required>
                                            <label class="form-check-label" style="margin-left: 35px">#Rak</label>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th colspan="1">
                                            <input class="form-check-input" style="margin-left: 5px" type="checkbox" name="checkboxName" id="inlineCheckbox2" value="2" required>
                                            <label class="form-check-label" style="margin-left: 20px">#Kursi</label>
                                            <input class="form-check-input" style="margin-left: 20px" type="checkbox" name="checkboxName" id="inlineCheckbox4" value="4" required>
                                            <label class="form-check-label" style="margin-left: 35px">#Laci</label>
                                        </th>
                                    </tr>
                                </div>
                            </th>
                            </thead>
                        </table>
                        <div class="row justify-content-end">
                            <a class="btn but-outline" type="button" th:href="@{/produk/}+${id}">Batal</a>
                            <button type="submit" class="btn but-success">Ubah</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
<script th:inline="javascript">
    var listTags = [[${daftarTag}]];
</script>
<script th:src="@{/javascript/ubah-produk.js}"></script>
</html>
