<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ubah Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:if="${pop} != null" class="overlay" id="center">
    <div class="row justify-content-center">
        <div th:if="${pop} == 'green'" class="col-5 pop-up">
            <img th:src="@{/img/green-check.svg}">
            <p th:text="${msg}"></p>
            <a th:href="@{/produk/}+${produk.idProduk}" class="btn">
                OK
            </a>
        </div>
        <div th:if="${pop} == 'red'" class="col-5 pop-up">
            <img th:src="@{/img/red-check.svg}">
            <p th:text="${msg}"></p>
            <div class="sub-msg">
                <span th:text="${subMsg}"></span>
            </div>
            <a th:href="@{/produk/ubah/}+${produk.idProduk}" class="btn">
                OK
            </a>
        </div>
    </div>
</div>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <nav th:replace="fragments/fragment :: sidebar"></nav>
    </div>

    <div class="container col">
        <div class="row justify-content-center">
            <div class="card" id="ubah-produk">
                <div class="card-header">
                    <h4>Ubah Produk</h4>
                </div>

                <div class="card-body">
                    <form th:action="@{/produk/ubah/}+${produk.idProduk}"th:object="${produk}" method="POST">
                        <table class="card-body table table-borderless" style="margin: 0px;">
                            <thead>
                            <th>
                                <tr>
                                    <input type="hidden" name="id" th:field="*{idProduk}" th:value="*{idProduk}" />
                                    <th class="form-group">
                                        Nama Produk
                                        <input type="text" name="namaProduk" th:field="*{namaProduk}" th:value="*{namaProduk}" class="form-control" required>
                                    </th>
                                    <th class="form-group" rowspan="5" colspan="2">
                                        <label>Spesifikasi</label>
                                        <textarea th:field="*{spesifikasi}"
                                                  th:value="*{spesifikasi}"
                                                  class="form-control"
                                                  style="width: 100%; height: 392px"
                                                  name="spesifikasi"></textarea>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Stok Produk
                                        <input type="hidden" name="stok" th:field="*{stok}" th:value="*{stok}" />
                                        <input type="text"  name="stok" th:field="*{stok}" th:value="*{stok}" class="form-control" disabled>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Tipe
                                        <select class="form-control form-control-lg" name="status" th:field="*{tipe}" th:value="*{tipe}" required>
                                            <option value="1">Coffee Table</option>
                                            <option value="2">Display Rack</option>
                                            <option value="3">Kursi Cafe</option>
                                            <option value="4">Kursi Lipat</option>
                                            <option value="5">Kursi Makan</option>
                                            <option value="6">Kursi Stool</option>
                                            <option value="7">Laci Meja Tulis</option>
                                            <option value="8">Lemari Pakaian Besi</option>
                                            <option value="9">Meja Cafe</option>
                                            <option value="10">Meja Makan</option>
                                            <option value="11">Meja Lipat</option>
                                            <option value="12">Meja Tulis</option>
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Harga
                                        <input type="text" name="harga" th:field="*{harga}" th:value="*{harga}" class="form-control" required>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Tanggal Dibuat
                                        <input type="date" class="form-control" name="tanggal_dibuat" th:field="*{tanggal_dibuat}" th:value="*{tanggal_dibuat}" required>
                                    </th>
                                </tr>

                                <tr>
                                    <th colspan="1">
                                        <div class="float-md-left">
                                            <h3 class="float-md-left">Tag Produk</h3>
                                        </div>
                                    </th>
                                    <th colspan="2">
                                        <div class="float-sm-right">
                                            <button class="btn but-success" type="submit" name="addRow">Tambah </button>
                                        </div>
                                    </th>
                                </tr>


                                <tr class="form-group">
                                    <th>No</th>
                                    <th>Tag Produk</th>
                                </tr>

                                <tr th:each="tag, tagStat : ${listTags}">
                                    <td th:text="${tagStat.count}"></td>
                                    <td>
                                        <select th:field="*{listTagProduk[__${tagStat.index}__].namaTag}"
                                                class="form-control" required>
                                            <option th:if="${tag.idTagProduk==1}" selected value="1" style=" text-align: center;">Lemari Baju</option>
                                            <option th:if="${tag.idTagProduk==2}" selected value="2" style=" text-align: center;">Rak Buku</option>
                                            <option th:if="${tag.idTagProduk==3}" selected value="3" style=" text-align: center;">Laci</option>
                                            <option th:if="${tag.idTagProduk==4}" selected value="4" style=" text-align: center;">Spring Bed</option>
                                            <option th:if="${tag.idTagProduk==5}" selected value="5" style=" text-align: center;">Sofa Bed</option>
                                            <option th:if="${tag.idTagProduk==6}" selected value="6" style=" text-align: center;">Meja Belajar</option>
                                            <option th:if="${tag.idTagProduk==7}" selected value="7" style=" text-align: center;">Meja Kantor</option>
                                            <option th:if="${tag.idTagProduk==8}" selected value="8" style=" text-align: center;">Kursi Kantor</option>
                                            <option th:if="${tag.idTagProduk==9}" selected value="9" style=" text-align: center;">Meja Makan</option>
                                            <option th:if="${tag.idTagProduk==10}" selected value="10" style=" text-align: center;">Kursi Duduk</option>

                                            <option th:each="isi : ${listTag}"
                                                    th:value="${isi.idTagProduk}"
                                                    th:text="${isi.namaTag}">
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <button th:if="${tagStat.index} != 0" class="btn but-danger" type="submit" name="removeRow"
                                                th:value="${tagStat.index}">
                                            <i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>

                            </th>
                            </thead>
                        </table>
                        <div class="row justify-content-end">
                            <a class="btn but-outline" type="button" th:href="@{/produk/}+${id}">Batal</a>
                            <button type="submit" class="btn but-success">Ubah</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>