<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ubah Produk</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:if="${pop} != null" class="overlay" id="center">
    <div class="row justify-content-center">
        <div th:if="${pop} == 'green'" class="col-5 pop-up">
            <img th:src="@{/img/green-check.svg}">
            <p th:text="${msg}"></p>
            <a th:href="@{/produk/}+${produk.idProduk}" class="btn">
                OK
            </a>
        </div>
        <div th:if="${pop} == 'red'" class="col-5 pop-up">
            <img th:src="@{/img/red-check.svg}">
            <p th:text="${msg}"></p>
            <div class="sub-msg">
                <span th:text="${subMsg}"></span>
            </div>
            <a th:href="@{/produk/ubah/stok/}+${produk.idProduk}" class="btn">
                OK
            </a>
        </div>
    </div>
</div>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <nav th:replace="fragments/fragment :: sidebar"></nav>
    </div>

    <div class="container col">
        <div class="row justify-content-center">
            <div class="card" id="ubah-stok-produk">
                <div class="card-header" style="min-width: 600px; width: 1000px">
                    <h4>Ubah Produk</h4>
                </div>

                <div class="card-body">
                    <form th:action="@{/produk/ubah/stok/}+${produk.idProduk}"th:object="${produk}" method="POST">
                        <table class="card-body table table-borderless" style="margin: 0px;">
                            <thead>
                            <th>
                                <tr>
                                    <input type="hidden" name="id" th:field="*{idProduk}" th:value="*{idProduk}" />
                                    <th class="form-group">
                                        Nama Produk
                                        <input type="hidden" name="namaProduk" th:field="*{namaProduk}" th:value="*{namaProduk}" />
                                        <input type="text" name="namaProduk" th:field="*{namaProduk}" th:value="*{namaProduk}"  class="form-control" disabled>
                                    </th>
                                    <th class="form-group" >
                                        Spesifikasi
                                        <input type="hidden" name="spesifikasi" th:field="*{spesifikasi}" th:value="*{spesifikasi}" />
                                        <input type="text" name="spesifikasi" th:field="*{spesifikasi}" th:value="*{spesifikasi}"  class="form-control" disabled>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Stok Produk
                                        <input type="text" name="stok" th:field="*{stok}" th:value="*{stok}"  class="form-control" required>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group">
                                        Tipe
                                        <input type="hidden" name="tipe" th:field="*{tipe}" th:value="*{tipe}" />
                                        <select class="form-control form-control-lg" name="status" th:field="*{tipe}" th:value="*{tipe}" disabled>
                                            <option value="1">Coffee Table</option>
                                            <option value="2">Display Rack</option>
                                            <option value="3">Kursi Cafe</option>
                                            <option value="4">Kursi Lipat</option>
                                            <option value="5">Kursi Makan</option>
                                            <option value="6">Kursi Stool</option>
                                            <option value="7">Laci Meja Tulis</option>
                                            <option value="8">Lemari Pakaian Besi</option>
                                            <option value="9">Meja Cafe</option>
                                            <option value="10">Meja Makan</option>
                                            <option value="11">Meja Lipat</option>
                                            <option value="12">Meja Tulis</option>
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="form-group" >
                                        Harga
                                        <input type="hidden" name="harga" th:field="*{harga}" th:value="*{harga}" />
                                        <input type="text" name="harga" th:field="*{harga}" th:value="*{harga}" class="form-control" disabled>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="form-group" >
                                        Tanggal Dibuat
                                        <input type="hidden" name="tanggal_dibuat" th:field="*{tanggal_dibuat}" th:value="*{tanggal_dibuat}" />
                                        <input type="date" class="form-control" name="tanggal_dibuat" th:field="*{tanggal_dibuat}" th:value="*{tanggal_dibuat}" disabled>
                                    </th>
                                </tr>
                                <!-- <div th:if="${produk.listTagProduk.size()} > 0"> -->
                                <tr>
                                    <th colspan="1">
                                        <div class="float-md-left">
                                            <h5 class="float-md-left">Tag Produk</h5>
                                        </div>
                                    </th>
                                </tr>

                                <tr th:each="tag, tagStat : *{listTagProduk}">
                                    <td colspan="3">
                                        <select th:field="*{listTagProduk[__${tagStat.index}__].namaTag}"
                                                class="form-control" disabled>
                                            <option th:each="isi : ${listTag}"
                                                    th:if="${tag.idTagProduk == isi.idTagProduk}"
                                                    th:value="${isi.idTagProduk}"
                                                    th:text="${isi.namaTag}" selected>
                                            </option>
                                        </select>
                                    </td>

                                </tr>
                                <!-- </div> -->
                            </th>
                            </thead>
                        </table>
                        <div class="row justify-content-end">
                            <a class="btn but-outline" type="button" th:href="@{/produk/}+${id}">Batal</a>
                            <button type="submit" class="btn but-success">Ubah</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>