<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Detail Laporan Staf Sales</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="row d-flex">        
        <div class="col col-sm-auto col-md-auto">
            <nav th:replace="fragments/fragment :: sidebar"></nav>
        </div>
        <div class="container col">
            <a  th:if="${message} != null"
                th:href="@{/laporan/staf-sales/}"
                class="btn but-arrow"
                ><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a  th:unless="${message} != null"
                th:href="@{/laporan/staf-sales/} + '?tanggalMulai=' 
                        + ${tanggalMulai} + '&tanggalAkhir=' + ${tanggalAkhir}"
                class="btn but-arrow"
                ><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <div class="row justify-content-center">
                <div th:if="${message} != null">           
                    <div class="card">
                        <div class="card-header" id>
                            Error
                        </div>
                        <div class="card-body">                
                            <div class="form-row">
                                <div class="col-12">
                                    <div th:text="${message}"></div>
                                </div>
                            </div>
                            <br>
                            <a th:href="@{/laporan/staf-sales/}" class="btn btn-success">
                                Kembali
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${message} != null">
                <div class="row justify-content-center"> 
                    <div class="col" id="table-utama">
                        <div class="list-header" style="margin-left: 20px;">
                            <h2 th:text="${stafSales.namaPanjang}">Laporan Staf Sales</h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="list-header" style="margin-left: 20px;">
                    <h4>Daftar Jadwal Kunjungan</h4>
                </div>
                <div th:if="${listKunjungan.isEmpty()}" class="list-body" style="margin-top: 30px; margin-left: 20px;">
                    <h3>Tidak Terdapat Jadwal Kunjungan</h3>
                </div>
                <div th:unless="${listKunjungan.isEmpty()}" class="list-body" id="table-utama" style="margin-top: 30px; margin-left: 20px;">
                    <table class="table daftar-table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Kode Kunjungan</th>
                            <th>Nama Toko</th>
                            <th>Alamat Toko</th>
                            <th>Tanggal</th>
                            <th>Waktu</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="kunjungan, iterationStatus : ${listKunjungan}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${kunjungan.kodeKunjungan}"></td>
                            <td th:text="${kunjungan.namaToko}"></td>
                            <td th:text="${kunjungan.alamatToko}"></td>
                            <td th:text="${#dates.format(kunjungan.tanggalKunjungan, 'dd/MM/yyyy')}"></td>
                            <td th:text="${kunjungan.waktuMulai}+' - '+${kunjungan.waktuSelesai}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <div class="list-header">
                    <h4>Daftar Pesanan Penjualan</h4>
                </div>

                <div th:if="${listPesanan.isEmpty()}" class="list-body" style="margin-top: 30px;">
                    <h3>Tidak Terdapat Pesanan Penjualan</h3>
                </div>

                <div th:unless="${listPesanan.isEmpty()}" class="list-body" id="table-utama" style="margin-top: 30px; margin-left: 20px;">
                    <table class="table daftar-table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Kode Pesanan</th>
                            <th>Nama Toko</th>
                            <th>Tanggal</th>
                            <th id="table-nowrap">Status</th>
                            <th id="table-nowrap">Total Harga</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pesanan, iterationStatus : ${listPesanan}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${pesanan.kodePesananPenjualan}"></td><td th:text="${pesanan.namaToko}"></td>
                            <td th:text="${#dates.format(pesanan.tanggalPesanan, 'dd/MM/yyyy')}"></td>
                            <div th:switch="${pesanan.statusPesanan}">
                                <td class="list-status text-center" id="table-nowrap">
                                    <span th:case="0"
                                          class="pending">Menunggu Persetujuan</span>
                                    <span th:case="1"
                                          class="disetujui">Disetujui</span>
                                    <span th:case="2"
                                          class="ditolak">Ditolak</span>
                                    <span th:case="3"
                                          class="disetujui">Disetujui</span>
                                    <span th:case="4"
                                          class="disetujui">Disetujui</span>
                                </td>
                            </div>
                            <td th:text="'Rp '+ ${#numbers.formatInteger(pesanan.totalHarga,3,'POINT')}" style="text-align: right;" id="table-nowrap"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

                
            
        </div>
    </div>
    
</body>

</html>