<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Pengiriman</title>
</head>
<body>
    <h1>Detail Pengiriman</h1>

    <h3>Status</h3>
    <p th:text="${item.status}">Status</p>

    <h3>Kode Komplain/Pesanan</h3>
    <p th:text="${item.kode}">Kode Komplain/Pesanan</p>

    <h3>Nama Toko</h3>
    <p th:text="${item.namaToko}">Nama Toko</p>

    <h3>Alamat Toko</h3>
    <p th:text="${item.alamatToko}">Alamat Toko</p>

    <div th:if="${isPengiriman}">
        <th:block th:each="metodePengiriman : ${item.metodePengiriman}">
            <div th:if="${metodePengiriman}">
                <h3>Metode Pengiriman</h3>
                <p th:text="${metodePengiriman}">Metode Pengiriman</p>
            </div>
        </th:block>

        <!--  kalo tanggal dikirim ngga ada, ga ditampilin  -->
        <!--  buat th:block lain juga sama  -->
        <th:block th:each="tanggalDikirim : ${item.tanggalDikirim}">
            <div th:if="${tanggalDikirim}">
                <h3>Tanggal Dikirim</h3>
                <p th:text="${tanggalDikirim}">Tanggal Dikirim</p>
            </div>
        </th:block>

        <th:block th:each="tanggalDiterima : ${item.tanggalDiterima}">
            <div th:if="${tanggalDiterima}">
                <h3>Tanggal Diterima</h3>
                <p th:text="${tanggalDiterima}">Tanggal Diterima</p>
            </div>
        </th:block>

        <th:block th:each="namaPenerima : ${item.namaPenerima}">
            <div th:if="${namaPenerima}">
                <h3>Nama Penerima</h3>
                <p th:text="${namaPenerima}">Nama Penerima</p>
            </div>
        </th:block>
    </div>

    <h3>Daftar Barang</h3>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Nama Barang</th>
            <th>Jumlah</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="barang : ${barangList}">
            <td th:text="${barang.namaBarang}">Nama Barang</td>
            <td th:text="${barang.jumlah}">Jumlah</td>
        </tr>
        </tbody>
    </table>
    <br>

    <div th:if="${isPengiriman}">
        <div th:if="${showUbahStatus}">
            <a th:href="@{'/pengiriman/update-status/' + ${item.id}}">Ubah Status</a>
        </div>
        <div th:if="${showUbahPengiriman}">
            <a th:href="@{'/pengiriman/update/' + ${item.id}}">Ubah</a>
        </div>
    </div>
</body>
</html>