<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Pengiriman</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row d-flex">
    <div class="col-md-auto">
        <!-- <div class="position-fixed"> -->
        <nav th:replace="fragments/fragment :: sidebar"></nav>
        <!-- </div> -->
    </div>


    <div th:unless="${message} != null" class="container-fluid col">
        <div class="row justify-content-center">
            <div class="col" id="table-utama">
                <div class="list-header">
                    <h2>Daftar Pengiriman</h2>
                    <hr>
                </div>
                <div class="list-body">
                    <div th:if="${msg == 'tidak ada pengiriman'}">
                        <h3 th:text="${pesan}"></h3>
                    </div>

                    <div th:if="${msg == 'ada pengiriman'}">
                    <table class="table daftar-table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Kode Pengiriman</th>
                            <th>Nama Toko</th>
                            <th>Tanggal</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="pengiriman, iterationStatus : ${pengirimans}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${pengiriman.kodePengiriman}">Kode</td>
                            <td th:text="${pengiriman.namaToko}">Nama Toko</td>
                            <td th:text="${pengiriman.tanggalDibuat}">Tanggal</td>
                            <td th:text="${pengiriman.status}">Status</td>
                            <td>
                                <div class="inline-buts">
                                    <a th:href="@{'/pengiriman/' + ${pengiriman.id}}" class="btn but-detail">Detail</a>
                                    <form th:action="@{/pengiriman/hapus/}" method="POST">
                                        <input th:type="text" class="form-control" th:name="id" th:value="${pengiriman.id}" hidden aria-hidden="true">
                                        <button type="submit" class="btn but-danger" th:disabled="${pengiriman.disableHapus}">Hapus</button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>
