<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabel Pengiriman</title>
</head>
<body>
    <h1>Tabel Pengiriman</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Kode Pengiriman</th>
            <th>Nama Toko</th>
            <th>Tanggal</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.kode}">Kode v</td>
            <td th:text="${item.namaToko}">Nama Toko</td>
            <td th:text="${item.tanggalDibuat}">Tanggal</td>
            <td th:text="${item.status}">Status</td>
            <td>
                <a href="#">Detail</a>
                <a href="#">Hapus</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>