<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pengiriman</title>
</head>
<body>
    <h1>Daftar Perlu Dikirim</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Kode Pesanan/Komplain</th>
            <th>Nama Toko</th>
            <th>Tanggal</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pengiriman : ${pengirimans}">
            <td th:text="${pengiriman.kode}">Kode v</td>
            <td th:text="${pengiriman.namaToko}">Nama Toko</td>
            <td th:text="${pengiriman.tanggalPersetujuan}">Tanggal</td>
            <td th:text="${pengiriman.status}">Status</td>
            <td>
                <a th:href="@{'/perlu-dikirim/' + ${pengiriman.type} + '/' + ${pengiriman.id}}">Detail</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/perlu-dikirim/add/' + ${pengiriman.type} + '/' + ${pengiriman.id}}">Tambah</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>